{{ define "main" }}

<main>
  <form action="/search" method="GET">
    <input type="search" name="q" id="search-query" placeholder="Cari ...">
    <button type="submit">Cari</button>
  </form>
    <div id="search-results"></div>
    <div class="search-loading"></div>

    <script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
        <h3><a href="${link}">${title}</a></h3>
        <p>${snippet}</p>
        <p>
            <small>
                ${ isset tags }Tags: ${tags}<br>${ end }
            </small>
        </p>
    </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
    <script src="/js/search.js"></script>
</main>

{{ end }}
