<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="me" href="https://venera.social/profile/rmdzn">
<link rel="me" href="https://sharkey.world/@rdnmz">
<link rel="me" href="https://github.com/rafeyu">
<!-- webmention support -->
<link rel="webmention" href="https://webmention.io/rmdzn.web.id/webmention" />
<script src="/js/webmention.min.js" async></script>
